body {
    display: flex;
}

#image-container {
    display: flex;
    flex-direction: column;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#cropped {
    width: auto; 
    height: 400px; 
    overflow: hidden;
}