body {
    display: flex;
    margin: 0px 200px;
    padding: 0px;
    background: black;
}

#image-container {
    display: flex;
    flex-direction: column;
    width: 1735px;
    z-index: -1;
    background: white;
}

#overlay {

}

#logo {
    margin-bottom: 500px;
    background-color: rgb(250, 235, 215, 50%);
}

#background_image {
    position: absolute;
    left: 200px;
    z-index: -1;
    height: 968px;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    background: white;
    position: absolute;
    right: 200px;
    left: 800px;
    bottom: 0px;
    top: 0px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}